.adminToolsManageAccountUpdatePage_container {
    display: block;
    background-color: white;
    margin: -1.25em auto 1em auto;
    width: 85%;
    height: auto;
    border: .012em solid black;
    text-align: center;
}
.page_container > h2 {
    margin-top: -8%;
    margin-bottom: 10%;
}
.adminToolsManageAccountUpdate_form {
    margin: 10% auto 10% auto;
    width: 45em;
    border:0.25em solid purple;
    border-radius: 2em;
}
.adminToolsManageAccountUpdate_form > h1 {
    font-size: 2.50em;
    margin: 1em;
}
.adminToolsManageAccountUpdate_form > input::placeholder{
    color: purple;
}
.adminToolsManageAccountUpdate_form > input {
    display: inline-block;
    width: 16em;
    height: 2em;
    margin: 0 1em 2em 1em;
}
.adminToolsManageAccountUpdate_form > .username {
    display: block;
    margin: 0 auto 2em auto;
}
.adminToolsManageAccountUpdate_form > input:focus{
    outline: none;
    border:0.15em solid gold;
}
.adminToolsManageAccountUpdate_form > select {
    text-decoration: none;
    color: purple;
    font-size: 1.20em;
    width: 16em;
    height: 2em;
    margin: 0 auto 0.50em auto;
}
.adminToolsManageAccountUpdate_form > .adminToolsManageAccountUpdateButton {
    display: block;
    text-decoration: none;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em auto 1.50em auto;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.adminToolsManageAccountUpdate_form > .adminToolsManageAccountUpdateButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
.adminToolsManageAccountUpdate_form > a {
    text-decoration: none;
}
.adminToolsManageAccountUpdate_form > a > .adminToolsManageAccountUpdateButton {
    display: block;
    text-decoration: none;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em auto 1.50em auto;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.adminToolsManageAccountUpdate_form > a > .adminToolsManageAccountUpdateButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
@media (max-width: 800px) {
    .adminToolsManageAccountUpdatePage_container {
        width: 100%;
        height: 100%;
    }
    .adminToolsManageAccountUpdate_form {
        width: 75%;
    }
    .adminToolsManageAccountUpdate_form > input, .adminToolsManageAccountUpdate_form > select {
        display: block;
        margin: 3em auto 3em auto;
    }
    .adminToolsManageAccountUpdate_form > .adminToolsManageAccountUpdateButton {
        display: block;
    }
    .adminToolsManageAccountUpdate_form > a > .adminToolsManageAccountUpdateButton {
        display: block;
    }
}