# Entire directories
**.DS_Store
**/node_modules
**.env
**/__pycache__/
**/.venv/

# Client
/client/.pnp
/client/.pnp.js
/client/coverage
/client/build
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Mobile
/client_mobile/.expo/
/client_mobile/dist/
/client_mobile/web-build/
/client_mobile/*.orig.*
/client_mobile/*.jks
/client_mobile/*.p8
/client_mobile/*.p12
/client_mobile/*.key
/client_mobile/*.mobileprovision
/client_mobile/.metro-health-check*
/client_mobile/npm-debug.*
/client_mobile/yarn-debug.*
/client_mobile/yarn-error.*
/client_mobile/*.pem
/client_mobile/.env*.local
/client_mobile/*.tsbuildinfo
/client/yarn-error.log*
