.adminToolsManageAccountDetailPage_container {
    display: block;
    background-color: white;
    margin: -1.25em auto 1em auto;
    width: 85%;
    height: auto;
    border: .012em solid black;
    text-align: center;
}
.adminToolsManageAccountDetail_form {
    margin: 10% auto 10% auto;
    width: 55em;
    border:0.25em solid purple;
    border-radius: 2em;
}
.adminToolsManageAccountDetail_form > h1 {
    font-size: 2.50em;
}
.adminToolsManageAccountDetail_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.adminToolsManageAccountDetailInfo_form {
    margin: 0 auto 0 auto;
    text-align: left;
    width: 40em;
    border-radius: 2em;
}
.adminToolsManageAccountDetail_form > .adminToolsManageAccountDetailInfo_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.adminToolsManageAccountDetail_form > a {
    text-decoration: none;
}
.adminToolsManageAccountDetail_form > a > .adminToolsManageAccountDetailButton {
    display: inline-block;
    text-decoration: none;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em 1em 1.50em 1em;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.adminToolsManageAccountDetail_form > a > .adminToolsManageAccountDetailButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
.adminToolsManageAccountDetail_form > a > .adminToolsManageAccountDetailCancelButton {
    display: inline-block;
    text-decoration: none;
	background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em 1em 1.50em 1em;
    border: 0.15em solid darkgoldenrod;
    border-radius: 1em;
}
.adminToolsManageAccountDetail_form > a > .adminToolsManageAccountDetailCancelButton:hover {
    color: black;
	background-color: gold;
    border: 0.15em solid purple;
}
@media (max-width: 800px) {
    .adminToolsManageAccountDetailPage_container {
        width: 100%;
        height: 100%;
    }
    .adminToolsManageAccountDetail_form {
        width: 75%;
    }
    .adminToolsManageAccountDetail_form > a > .adminToolsManageAccountDetailButton {
        display: block;
        margin: auto auto 2em auto;
    }
    .adminToolsManageAccountDetailInfo_form {
        width: 100%;
    }
}