.profilePage_container {
    display: block;
    background-color: white;
    margin: -1.25em auto 1em auto;
    width: 85%;
    height: auto;
    border: .012em solid black;
    text-align: center;
}
.profile_form {
    margin: 10% auto 10% auto;
    width: 55em;
    border:0.25em solid purple;
    border-radius: 2em;
}
.profile_form > h1 {
    font-size: 2.50em;
}
.profile_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.profileInfo_form {
    margin: 0 auto 0 auto;
    text-align: left;
    width: 95%;
}
.profile_form > .profileInfo_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.profile_form > a {
    text-decoration: none;
}
.profile_form > a > .profileButton {
    display: inline-block;
    text-decoration: none;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em 1em 1.50em 1em;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.profile_form > a > .profileButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
@media (max-width: 800px) {
    .profilePage_container {
        width: 100%;
    }
    .profile_form {
        width: 85%;
    }
}