.levelChoiceSelected_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.levelChoiceSelectedPage_container {
    display: block;
    background-color: white;
    margin: -1.25em auto 1em auto;
    width: 85%;
    height: auto;
    border: .012em solid black;
    text-align: center;
}
.levelChoiceSelected_form {
    margin: 10% auto 10% auto;
    width: 55em;
    border:0.25em solid purple;
    border-radius: 2em;
}
.levelChoiceSelected_form > .triviaSection {
    display: block;
    height: 4em;
}
.levelChoiceSelected_form > .triviaSection > .playerPoints {
    display: inline-flex;
    float: left;
    font-size: 2em;
    margin: 1em;
}
.levelChoiceSelected_form > .triviaSection > .timer {
    display: inline-flex;
    float: right;
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-right: 1em;
}
.levelChoiceSelected_form > h1 {
    font-size: 2.50em;
    margin: 1em;
}
.levelChoiceSelected_form > h2 {
    font-size: 2em;
    margin: 1em;
}
.levelChoiceSelected_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.levelChoiceSelected_form > .levelChoiceSelectedButton {
    display: inline-block;
    text-decoration: none;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 4em;
    width: 15em;
    margin: 1em 1em 1.50em 1em;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.levelChoiceSelected_form > .levelChoiceSelectedButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
.levelChoiceSelected_form > .levelChoiceSelectedCancelButton {
    display: inline-block;
    text-decoration: none;
	background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 1.50em;
    height: 4em;
    width: 15em;
    margin: 1em 1em 1.50em 1em;
    border: 0.15em solid darkgoldenrod;
    border-radius: 1em;
}
.levelChoiceSelected_form > .levelChoiceSelectedCancelButton:hover {
    color: black;
	background-color: gold;
    border: 0.15em solid purple;
}
@media (max-width: 800px) {
    .levelChoiceSelected_container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        padding: 0;
        margin-top: -2em;
    }    
    .levelChoiceSelectedPage_container {
        height: 100%;
        width: 100%;
    }
    .levelChoiceSelected_form {
        width: 75%;
    }
    .levelChoiceSelected_form > .triviaSection {
        height: 6.5em;
    }
    .levelChoiceSelected_form > .triviaSection > .playerPoints {
        display: block;
        float: none;
        text-align: center;
    }
    .levelChoiceSelected_form > .triviaSection > .timer {
        display: block;
        float: none;
        text-align: center;
    }    
    .levelChoiceSelected_form > .levelChoiceSelectedButton {
        display: block;
        margin: auto auto 2em auto;
    }
}