.adminToolsManageTriviaDeletePage_container {
    display: block;
    background-color: white;
    margin-top: -1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto;
    border: .012em solid black;
    margin-bottom: 1em;
    text-align: center;
}
.adminToolsManageTriviaDeletePage_container > h2 {
    margin-top: -8%;
    margin-bottom: 10%;
}
.adminToolsManageTriviaDelete_form {
    margin: 10% auto 10% auto;
    width: 45em;
    border:0.25em solid purple;
    border-radius: 2em;
}
.adminToolsManageTriviaDelete_form > h1 {
    font-size: 2.50em;
    margin: 1em;
}
.adminToolsManageTriviaDelete_form > p {
    font-size: 1.50em;
    margin: 1em;
}
.adminToolsManageTriviaDelete_form > .adminToolsManageTriviaDeleteButton {
    display: block;
    text-decoration: none;
	background-color: purple;
    color: white;
    font-weight: bold;
    font-size: 1.50em;
    height: 3em;
    width: 12em;
    margin: 1em auto 1.50em auto;
    border: 0.15em solid darkgoldenrod;
    border-radius: 1em;
}
.adminToolsManageTriviaDelete_form > .adminToolsManageTriviaDeleteButton:hover {
    color: black;
	background-color: gold;
    border: 0.15em solid purple;
}
.adminToolsManageTriviaDelete_form > a {
    text-decoration: none;
}
.adminToolsManageTriviaDelete_form > a > .adminToolsManageTriviaDeleteCancelButton {
    display: block;
	background-color: gold;
    color: black;
    font-weight: bold;
    font-size: 1.50em;
    height: 2.50em;
    width: 12em;
    margin: 1em auto 1.50em auto;
    border: 0.15em solid purple;
    border-radius: 1em;
}
.adminToolsManageTriviaDelete_form > a > .adminToolsManageTriviaDeleteCancelButton:hover {
    color: white;
	background-color: purple;
    border: 0.15em solid darkgoldenrod;
}
@media (max-width: 950px) {
    .adminToolsManageTriviaDeletePage_container {
        width: 100%;
        height: 100%;
    }
    .adminToolsManageTriviaDelete_form {
        width: 85%;
    }
    .adminToolsManageTriviaDelete_form > .adminToolsManageTriviaDeleteButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .adminToolsManageTriviaDelete_form > a > .adminToolsManageTriviaDeleteButton {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}